#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 


override_dh_auto_configure:
	TWDIR=`pwd`
	PATH=$$PATH:$$TWDIR/bin
	DATADIR=$$TWDIR/DATA
	TWDIR=`pwd` make Makefiles

override_dh_auto_clean:
